<div class="col my-5" style="max-width: 800px; margin-left: 20%;">
<h3>Frequently Asked Questions About Home Loans</h3>
<h6>1. Which is the best bank to borrow?</h6>
<p>In broad terms, the best bank to borrow a home loan is the one that offers you the cheapest interest rate--
     you could get home loans at as less as 8 per cent interest currently. However, it is after doing rounds of calculations 
     that you would be able to find out which bank is best-suited for your individual requirements.</p>

<hr>
<h6>2. Do I have to pay a penalty on pre-payment of loan?</h6>
<p>A borrower does not have to pay a penalty on pre-payment after the Reserve Bank of India in 2013 directed 
    financial institutions to waive charges for loans taken on floating rate of interest. However, banks still 
    charge a penalty on transfer if you have taken a home loan on a fixed rate of interest.</p>

<hr>
<h6>2. Do I have to pay a penalty on pre-payment of loan?</h6>
<p>A borrower does not have to pay a penalty on pre-payment after the Reserve Bank of India in 2013 directed 
    financial institutions to waive charges for loans taken on floating rate of interest. However, banks still 
    charge a penalty on transfer if you have taken a home loan on a fixed rate of interest.</p>
</div>