<div class="row">
    <div class="col">
        <table>
            <tr>
                  <td><img class="image" width="400" height="300" src="assets/image.png"></td>
            </tr>
      </table>


    </div>
    <div class="col py-5">

        <h6  style="max-width: 500px;">Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.</h6>

           <li>Our Values</li> 
           <li>Trust</li> 
           <li>Excellence</li> 
           <li>Transparency</li> 
    
    </div>
</div>
