
<div class="row">
    <div class="col-6">
          <table>
                <tr>
                      <td><img class="image" width="600" height="500" src="assets/home.jpg"></td>
                </tr>
          </table>


    </div>
    <br>
    <div class="col-4">
          <div class="container my-10" id= box>

                
                <a routerLink="newlogin" class="btn btn-success">New Customer</a>
                <br>
                <a routerLink="login" class="btn btn-success">Existing Customer</a>
                <br>
                <a routerLink="adminlogin" class="btn btn-success">Admin</a>

          </div>
    </div>
</div>