<div class="container my-5 py-5">
  <div class="row">
    <div class="col">
      <button class="btn btn-link"><a routerLink='addpersonal' class="btn btn-success">Add_person_details</a></button>
    </div>
    <div class="col">
      <button class="btn btn-link"><a routerLink="addincome" class="btn btn-success">add_Income_details</a></button>
    </div>
    <div class="col">
      <button class="btn btn-link"><a routerLink="showpersonal" class="btn btn-success">ShowDetails</a></button>
    </div>
    <div class="col">
      <button class="btn btn-link"><a routerLink="documentupload" class="btn btn-success">documentupload</a></button>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet>
    
  </router-outlet>
</div>