

<form #EmailForm="ngForm" (ngSubmit)=validEmail(EmailForm) novalidate *ngIf="valid == false"  >
    <div class="progress " style="max-width: 400px;margin-left: 35%;">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
      </div>
    <div class="box px-5 my-5">
    <table>
        <h4>Forgot your Password</h4>
        <tr>
            <td><label for="emailId">Fill your Register Email address</label> </td>
            <td><input type="email" name="emailId"  ngModel required></td>
        </tr>
        <tr>
            <td><button type="submit" [disabled]="!EmailForm.valid" class="btn btn-primary py-2 my-2">Submit</button></td>
        </tr>
    </table>
    </div>
    
</form>

<form #securityForm="ngForm" (ngSubmit)=hello(securityForm) *ngIf="valid == true && valid1==false" >
    <div class="progress" style="max-width: 400px;margin-left: 35%;">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
    <div class="box px-5 my-5">
<table>
    <h4>Now Enter your security Answer</h4>
    
    <tr *ngFor ="let s of array">
        
        <td><label for="secQues">Security question:</label> </td>
        <td>{{ s.secQues }}</td>
    </tr>
    <tr>
        <td><label for="secAns">Fill your Security Answer</label> </td>
        <td><input type="text" name="secAns"  ngModel required></td>
    </tr>
    <tr>
        
        <td><button type="submit" [disabled]="!securityForm.valid" class="btn btn-primary py-2 my-2">Submit</button></td>
    </tr>
</table>
</div>
</form>

<form #passForm="ngForm" (ngSubmit)=reset(passForm) *ngIf="valid1 == true" >
    <div class="progress " style="max-width: 400px;margin-left: 35%;">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100% :)</div>
      </div>
    <div class="box px-5 my-5">
    <table>
        <h4>All set Set New Password</h4>

        <tr>
            <td><label for="emailId">Email ID</label> </td>
            <td><input type="email" name="emailId"  ngModel required></td>
        </tr>
        <tr>
            <td><label for="password">Password</label> </td>
            <td><input type="password" name="password" ngModel required></td>
        </tr>
        <tr>
            <td><label for="comfirmPassword">Confirm Password</label> </td>
            <td><input type="text" name="confirmPassword" ngModel required></td>
        </tr>
 
        <tr>
            
            <td><button type="submit" [disabled]="!passForm.valid" class="btn btn-primary py-2 my-2">Save</button></td>
        </tr>
    </table>
    </div>
</form>