<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <ul class="navbar-nav mr-auto">
        <li id="nav"><a class="btn btn-primary" id="nav" routerLink="/">Home</a></li>
        <li id="nav"><a class="btn btn-primary" id="nav" routerLink="/about">About Us</a></li>
        <li id="nav"><a class="btn btn-primary" id="nav" routerLink="/calculator">Calculator</a></li>
        <li id="nav"><a class="btn btn-primary" id="nav" routerLink=""> Application </a></li>
        <li id="nav"><a class="btn btn-primary" id="nav" routerLink="/login">Login</a></li>
        <li id="nav"><a class="btn btn-primary" id="nav" routerLink="/faq"> FAQ</a></li>
    </ul>
</nav>

<div class="row">
    <div class="col-6">
          <table>
                <tr>
                      <td><img class="image" width="600" height="500" src="assets/home.jpg"></td>
                </tr>
          </table>


    </div>
    <br>
    <div class="col-4">
          <div class="container my-10" id= box>
            <p class="my-2">Hello!! Welcome To Home Loan Application</p>
            <br>
            <a routerLink="/fillaplication" class="btn btn-success">Fill Your Application</a>
            <p>For New Customer, Complete Loan application</p>
            <br>
            <a routerLink="" class="btn btn-success">Application Status</a>
            <p>Check Application status</p>



          </div>
    </div>
</div>